



.page-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    border: 1px solid #f3f3f3;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
}



.page-heading{
    display: flex;
}
.page-heading h2 {
    margin: 20px 30px;
    color: blue;
    padding-right: 4%;
    border-right: 1px solid rgb(223, 213, 213);
    margin-right: 10px;
}
.page-heading .next,.prev {
    margin: 10px;
    display: block;
    background: transparent;
    border: 1px solid transparent;
    color: orange;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}
/* .page-heading .next:hover{
    text-decoration: underline;
}
.page-heading .prev:hover{
    text-decoration: underline;
} */



.card-slider{
    margin: 2% auto 0% auto;
    /* background-color:yellowgreen; */
    /* border: 1px solid black;     */
}
.card-slider .card-wrapper{
    width: 70%;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
    /* background-color: bisque; */
    /* border:1px solid green; */
    padding: 3% 0 2% 0%;
}


.card-slider .card-wrapper .card{
    max-width: 300px;
    min-height: 400px;
    margin: 30px 0px 20px 0px;

    border: 2px solid orange;
    border-radius: 8px;
    background:white;
    outline: none;
    box-sizing:border-box;

    display: inline-block;
    position: relative;
}
.card.active:hover:after{
    position: absolute;
    content:'';
    bottom:-15px;
    width: 100%;
    height: 6px;
    border-radius: 40%;
    background:rgb(247, 243, 243);
}


.card h3{
    font-size: 18px;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom:0px;
    text-align: center;
}


.card-content{
    padding: 20px 10px;
    padding-bottom: 60px;
}
.card-content ul{
    padding: 0;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.card-content ul li{
    list-style: none;
    display: flex;
    padding: 0 20px;
    font-size: 0.89em;
}
.card-content ul li:nth-child(2){
    font-weight: bold;
}

.card-content ul:nth-child(4) {
    padding-top: 30px;
    padding-bottom: 35px;
}
.card-content ul:nth-child(5){
    padding-top: 20px;
    padding-bottom: 5px;
}
.lower {
    width: 100%;
    background: orange;
    height: 65px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    opacity: .6;
}
    

    /* card hover  */

.card.active:hover {
    /* transform: scale(1.3); */
    transform:  translateX(0px) translateY(-32px) translateZ(0px) scale(1.2);
    transition: 1s ease-in-out;
    z-index: 1;
}

.card.active:hover h3{
    background: orange;
    border-radius: 20px;
    color: white;
    padding: 1% 3% 4% 3%;
    position: absolute;
    top: -3%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
}
.card.active:hover .middle {
    padding-top: 50px;
    padding-bottom: 60px;
}
.card.active:hover .middle {
    padding-top: 50px;
    padding-bottom: 60px;
}

.slick-slide + .slick-slide {
    pointer-events: none;
}
.slick-slide + .slick-current  {
    pointer-events: fill;
}



.card-wrapper .card:nth-child(1){
    order: 1;
    /* pointer-events: none; */
}
.card-wrapper .card:nth-child(2){
    order: 2;
}





/* mystyle */


.btnactive, .btn:hover {
    text-decoration: underline;
  }










